---
title: International Real-time Magnetic Observatory Network
layout: index
---

<div class="jumbotron">
<h1>{{ page.title }}</h1>
    <p>Welcome to INTERMAGNET - the global network of observatories, monitoring the Earth's magnetic field. At this site you can find data and information from geomagnetic observatories around the world.</p>

    <a class="btn btn-primary" href="#services" rel="external" role="button">Services</a>
    <a class="btn btn-secondary" href="#about-us" rel="external" role="button">About Us</a>
</div>

<div class="container">

    <section id="services">
        
        <h2>Services</h2>

        {% include index/services.html %}

    </section>

    <section id="about-us">

        <h2>About Us</h2>

        {% include index/about.html %}

        {% include index/history.html %}

        {% include index/mission.html %}

        {% include index/principles.html %}

    </section>

  </section>

</div>