<p>The INTERMAGNET programme exists to establish a global network of cooperating digital magnetic observatories, adopting modern standard specifications for measuring and recording equipment, in order to facilitate data exchanges and the production of geomagnetic products in close to real time.</p>

<p>Where local support is lacking it is a further goal of INTERMAGNET to aid in the establishment of new observatories or to provide assistance with the upgrade and maintenance of existing facilities. Supplemental to this aim is the promotion of modern standards for measuring and recording the Earth's magnetic field. INTERMAGNET is constituted from existing groups whose primary task is one of geomagnetic measurement.</p>

<div class="row justify-content-md-center text-center">
    <div class="col-md-6">
        <p><strong>Member</strong></p>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top img-fluid" src="/images/WDS_logo.jpg" alt="ICSU World Data System">
            <div class="card-body">
                <a class="btn btn-primary" href="http://www.icsu-wds.org/" rel="external" role="button">ICSU World Data System</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <p><strong>Associated</strong></p>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top img-fluid" src="/images/iaga-logo.png" alt="IAGA Division V">
            <div class="card-body">
                <a class="btn btn-primary" href="http://www.iaga-aiga.org/index.php?id=div5" rel="external" role="button">IAGA Division V</a>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-md-center text-center">
    <div class="col-md-6">
        <p><strong>Contributor</strong></p>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top img-fluid" src="/images/supermag-logo-color-white-64.png" alt="SuperMAG">
            <div class="card-body">
                <a class="btn btn-primary" href="http://supermag.jhuapl.edu" rel="external" role="button">SuperMAG</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <p><strong>Contributor</strong></p>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top img-fluid" src="/images/EPOS_logo_small_591_0.png" alt="EPOS">
            <div class="card-body">
                <a class="btn btn-primary" href="https://www.epos-eu.org/" rel="external" role="button">EPOS</a>
                <a class="btn btn-primary" href="https://www.ics-c.epos-eu.org/" rel="external" role="button">EPOS data portal</a>
            </div>
        </div>
    </div>
</div>

