<h3>Vision and Mission</h3>

<dl>
    <dt>The INTERMAGNET vision is of</dt>
    <dd>A global, real-time, permanent geomagnetic observatory network, which is recognized as a key Earth observation system and which provides data that serves scientific research into the Earth, from its deep interior to space, and supports operational services benefiting society.</dd>

    <dt>The INTERMAGNET mission is to</dt>

    <dd>Establish and maintain an organization with a worldwide membership drawn from institutes operating geomagnetic observatories that is dedicated to building a network of geomagnetic observatories supplying consistent data, with the geographical coverage, quality, and timeliness of delivery required to meet the evolving needs of research and applied science.</dd>

    <dt>The INTERMAGNET strategy is to</dt>
    <dd>
    <ul>
        <li>Set mandatory standards for measurement, data processing, formats and transmission for network membership, and to support geomagnetic observatory operators in achieving these standards by providing technical assistance.</li>
        <li>Provide advice on the establishment of new observatories, to help to co-ordinate initiatives taken by member institutes and so to optimize the scientific value of the global network</li>
        <li>Support data services, as a member of the World Data System, by maintaining an infrastructure for geomagnetic observatory data collection and dissemination</li>
        <li>Communicate with data users to promote use of INTERMAGNET data and to understand their requirements, feeding this information into the definitions of operating standards</li>
        <li>Work closely with the International Association of Geomagnetism and Aeronomy and other organizations concerned with magnetic observatory operations</li>
        <li>Maintain a dialog with technology providers to take advantage of new developments in instrumentation and data acquisition and to advise them of user demands for data to inform their system developments</li>
    </dd>
</dl>
