<div class="row">
    <div class="col-sm-4">
        <p><strong>Data</strong></p>
        <div class="list-group">
            <a href="/data_conditions.html" class="list-group-item list-group-item-action">Data Conditions</a>
            <a href="ftp://ftp.seismo.nrcan.gc.ca/intermagnet/" class="list-group-item list-group-item-action">Data Download (FTP)</a>
            <a href="http://www.intermagnet.org/data-donnee/formatdata-eng.php" class="list-group-item list-group-item-action">Data Format (external)</a>
            <a href="http://www.intermagnet.org/data-donnee/dataplot-eng.php" class="list-group-item list-group-item-action">Observatory Plots (external)</a>
            <a href="http://www.intermagnet.org/activitymap/activitymap-eng.php" class="list-group-item list-group-item-action">Geomagnetic Activity Map (external)</a>
            <a href="/data_checkers.html" class="list-group-item list-group-item-action">Data Quality Checking</a>
        </div>
    </div>
    <div class="col-sm-4">
        <p><strong>Observatories</strong></p>
        <div class="list-group">
            <a href="/metadata/#/imos" class="list-group-item list-group-item-action">IMOs and Responsible GINs</a>
            <a href="/metadata/#/definitives" class="list-group-item list-group-item-action">Definitive Catalogue</a>
            <a href="/metadata/#/map" class="list-group-item list-group-item-action">Map</a>
            <a href="/metadata/#/institutes" class="list-group-item list-group-item-action">Participating Institutes</a>
            <a href="http://www.intermagnet.org/imos/imophoto-eng.php" class="list-group-item list-group-item-action">Photographs (external)</a>
            <a href="/membership.html" class="list-group-item list-group-item-action">Membership Application Form</a>
        </div>
    </div>
    <div class="col-sm-4">
        <p><strong>Resources</strong></p>
        <div class="list-group">
            <a href="/structure.html" class="list-group-item list-group-item-action">Organizational Structure</a>
            <a href="/faq/" class="list-group-item list-group-item-action">FAQ</a>
            <a href="/publications.html#tech-man-500" class="list-group-item list-group-item-action">Technical Reference Manual V-5.0.0</a>
            <a href="http://www.intermagnet.org/publication-software/technicalsoft-eng.php" class="list-group-item list-group-item-action">Technical Reference Manual (external)</a>
            <a href="/publications.html" class="list-group-item list-group-item-action">Publications</a>
            <a href="/meetings.html" class="list-group-item list-group-item-action">Meetings</a>
            <a href="/software.html" class="list-group-item list-group-item-action">Software</a>
            <a href="http://www.intermagnet.org/publication-software/yearbooks-eng.php" class="list-group-item list-group-item-action">Yearbooks (external)</a>
            <a href="/gins.html" class="list-group-item list-group-item-action">Geomagnetic Information Nodes</a>
        </div>
    </div>
</div>
