<div class="row">
    <div class="col-sm-4">
        <p><strong>Data</strong></p>
        <div class="list-group">
            <a href="/data_conditions.html" class="list-group-item list-group-item-action">Data Conditions</a>
            <a href="/data_portal.html" class="list-group-item list-group-item-action">Data Download and Plots</a>
            <a href="/data_formats.html" class="list-group-item list-group-item-action">Data Formats</a>
            <a href="/data_checkers.html" class="list-group-item list-group-item-action">Data Quality Checking</a>
        </div>
    </div>
    <div class="col-sm-4">
        <p><strong>Observatories</strong></p>
        <div class="list-group">
            <a href="/metadata/#/imos" class="list-group-item list-group-item-action">IMOs and Responsible GINs</a>
            <a href="/metadata/#/definitives" class="list-group-item list-group-item-action">Definitive Catalogue</a>
            <a href="/metadata/#/map" class="list-group-item list-group-item-action">Map</a>
            <a href="/metadata/#/institutes" class="list-group-item list-group-item-action">Participating Institutes</a>
            <a href="/photos.html" class="list-group-item list-group-item-action">Photographs</a>
            <a href="/membership.html" class="list-group-item list-group-item-action">Membership Application Form</a>
        </div>
    </div>
    <div class="col-sm-4">
        <p><strong>Resources</strong></p>
        <div class="list-group">
            <a href="/structure.html" class="list-group-item list-group-item-action">Organizational Structure</a>
            <a href="/faq/" class="list-group-item list-group-item-action">FAQ</a>
            <a href="https://tech-man.intermagnet.org/" class="list-group-item list-group-item-action">Technical Reference Manual</a>
            <a href="/publications.html" class="list-group-item list-group-item-action">Publications</a>
            <a href="/meetings.html" class="list-group-item list-group-item-action">Meetings</a>
            <a href="/software.html" class="list-group-item list-group-item-action">Software</a>
            <a href="/yearbooks.html" class="list-group-item list-group-item-action">Yearbooks</a>
            <a href="/gins.html" class="list-group-item list-group-item-action">Geomagnetic Information Nodes</a>
        </div>
    </div>
</div>
