<h3>Organizational Structure</h3>

<h4>Executive Council</h4>

<p>The Executive Council establishes policy for INTERMAGNET, deals with questions of international participation and data exchange and communicates with national agencies and international scientific and funding agencies. It is assisted and advised by the Operations Committee.</p>

<h5>Membership</h5>

<ul>
    <li>Alan Thomson (United Kingdom), Chairman</li>
    <li>Carol Finn (United States of America)</li>
    <li>David Boteler (Canada)</li>
    <li>Gauthier Hulot (France)</li>
</ul>

<h4>Operations Committee</h4>

<p>The Operations Committee advises the Executive Council on the technical issues that arise within INTERMAGNET. This includes matters relating to instrumentation, data processing and communications. The Committee is also responsible for establishing and maintaining standards and formats for the global exchange of data under the INTERMAGNET programme, for designing and publishing the INTERMAGNET Technical Manual and producing the annual CD-ROM/DVD.</p>

<h5>Operations Committee Structure</h5>

<ul>
    <li>Simon Flower, Chairman</li>
    <li>Andrew Lewis, Secretary</li>
</ul>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Definitive Data</th>
        <th>WWW, GINS, and Data Format</th>
        <th>IMO Applications</th>
        <th>Technical Manual</th>
        <th>Instrumentation and Data Acquisition</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Andrew Lewis</td>
        <td>Member (S)</td>
        <td> </td>
        <td>Deputy Chair (P)</td>
        <td>Member (P)</td>
        <td> </td>
    </tr>
    <tr>
        <td>Benoit Heumez</td>
        <td>Member (P)</td>
        <td>Member (P)</td>
        <td> </td>
        <td> </td>
        <td>Member (S)</td>
    </tr>
    <tr>
        <td>Benoit St-Louis</td>
        <td> </td>
        <td> </td>
        <td>Member (P)</td>
        <td>Chair (P)</td>
        <td>Member (S)</td>
    </tr>
    <tr>
        <td>Charles Blais</td>
        <td>Member (P)</td>
        <td>Chair (P)</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td>Chris Turbitt</td>
        <td> </td>
        <td> </td>
        <td>Chair (P)</td>
        <td>Deputy Chair (P)</td>
        <td>Member (S)</td>
    </tr>
    <tr>
        <td>Hiroaki Toh</td>
        <td>Member (P)</td>
        <td>Member (P)</td>
        <td> </td>
        <td>Member (S)</td>
        <td> </td>
    </tr>
    <tr>
        <td>Jan Reda</td>
        <td>Chair (P)</td>
        <td>Member (P)</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td>Jurgen Matzka</td>
        <td> </td>
        <td> </td>
        <td>Member (P)</td>
        <td>Member (P)</td>
        <td>Member (S)</td>
    </tr>
    <tr>
        <td>Roman Leonhardt</td>
        <td>Member (P)</td>
        <td>Member (P)</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td>Sergey Khomutov</td>
        <td>Member (S)</td>
        <td> </td>
        <td>Member (P)</td>
        <td> </td>
        <td>Member (S)</td>
    </tr>
    <tr>
        <td>Simon Flower</td>
        <td>Member (P)</td>
        <td>Member (P)</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td>Stephan Bracke</td>
        <td> </td>
        <td>Member (P)</td>
        <td> </td>
        <td>Member (S)</td>
        <td> </td>
    </tr>
    <tr>
        <td>Tero Raita</td>
        <td>Member (P)</td>
        <td> </td>
        <td>Member (S)</td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td>Virginie Maury</td>
        <td>Member (P)</td>
        <td>Member (P)</td>
        <td>Member (S)</td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td><strong>No. of members</strong></td>
        <td><strong>10</strong></td>
        <td><strong>8</strong></td>
        <td><strong>7</strong></td>
        <td><strong>6</strong></td>
        <td><strong>5</strong></td>
    </tr>
    </tbody>
</table>

<ul>
    <li>(P) = primary affiliation</li>
    <li>(S) = secondar affiliation</li>
</ul>